<!DOCTYPE html>
<html>
<head>
	<title>
		Drone Report
	</title>
	<link href="/static/profilessheet.css" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kurale|Raleway|Montserrat|Lato" rel="stylesheet">
</head>
<body style="background-image:url(/static/images/wall6.jpg);">


<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<p id="h"><span id="emit">Kisaan Mitra</span><span id="subheading"><i>Seeds to Happiness...</i></span></p>
	<a href="index.html"><p id="logout">Logout</p></a>
	<table align="center" cellspacing="50">
		<tr id="tablehead">
			<td><a href="profile.html">Your Profile</a></td>
			<td><a href="prediction.html">Crop Prediction</a></td>
			<td><a href="loanpage.html">Loan Application</a></td>
			<td><a href="schemes.html">Schemes</a></td>
			<td id="active">Drone Report</a></td>
			<td><a href="dhanmandi.html">Raj Mandi</a></td> 
		</tr>
	</table>
	<br><br>
	<center><div style="border: 1px solid black; height: 1%; margin-top: -70px; width: 80%;"></div></center>

<h1 style="font-family: sans-serif; font-size: 30px; margin-left: 20px; text-align: center;">Analyzed views of crop farm.<h1>
<table style="margin-top: 0px; margin-left: 20px;">
	<tr>
		<td>
			<h2 style="text-align: center; font-family: sans-serif; color: white;">Crop Stress</h2>
		</td>
		<td>
			<h2 style="text-align: center; font-family: sans-serif; color: white;">Vegetation Density</h2>
		</td>
		<td>
			<h2 style="text-align: center; font-family: sans-serif; color: white;">Water Deficit</h2>
		</td>
	</tr>

	<tr>
		<td style="width: 500px; height: 100px;">
			<img src="/static/images/crop_stress.png" width="350px" style=" margin-right: 25px;">
		</td>
		<td style="width: 500px;  height: 100px;">
			<img src="/static/images/vegetation_density.png" width="350px" style=" margin-right: 25px;">
		</td>
		<td style="width: 500px;  height: 100px;" >
			<img src="/static/images/water_deficit.png" width="350px" style="margin-right: 25px;">
		</td>
	</tr>
</table>

	</body>
	</html>
